$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$primary-color              : #8BC63F;
$secondary-color            : #066839;

$label-text-color           : #71B163;
$icon-bg                    : #27813A;
$bg-color                   : #E6EDE2;
$text-color                 : #4A4A4A;
$table-text-color           : #829177;

$custom-google-font         : 'Nunito', sans-serif;
$item-border-radius         : 4px;
$container-max-width        : 800px;

$media-icon-size            : 50px;
$lihat-button-size          : 20px;
$lihat-chevron-icon-size    : 10px;
$lihat-text                 : "Lihat";
$tutup-text                 : "Tutup";